@keyframes up-down {

    0% {
        transform-origin: left;
        transform: translateY(-12px);
    }


    50% {
        transform: translateY(12px);
        
    }

    100% {
        transform: translateY(-12px);
    }

}

@keyframes aumenta {

    0% {
        width: 5vw;
    }

    100% {
        width: 20vw;
    }

}

hr{
    animation: aumenta 2s alternate;
}

.violao{    
    animation: up-down 10s infinite;
}

.guitarra{
    animation: up-down 10s reverse infinite;
}