/*CELULARES*/
@media (max-width: 430px){
 
    /* TOPO */
    .android :nth-child(1){
        margin: .5em;
    }
    
    .android :nth-child(3){
        margin: .5em;
    }
    
    .ios :nth-child(1){
        margin: .6em;
    }
    
    .android p, .ios p{
        font-size: 10px;
    }

   .botao__app img{
    width: 80px;
   }

   .botoes hr{
    width: 20vw;
}


    /*SOBRE*/

    .sobre{
        display: flex;
        flex-direction: column;
    }

    .objetivo, .vantagens{
        margin-top: 1em;
    }

    .objetivo, .vantagens{
        width: 100vw;
    }

}

/*TABLETS*/
@media (max-width: 768px){

    .objetivo, .vantagens{
        width: 100%;
    }
    
}
