@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Mooli&display=swap');

:root{
    --cor-fundo: #dfdfdf;
    --cor-secundaria: #e28b1ad7;
    --cor-fundo-alt: #ffa4599f;
    
    --cor-fonte: #fff;

    --fonte-principal: "Mooli", sans-serif;
    --fonte-titulo: "Agbalumo", system-ui;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}

.cabecalho{
    align-items: center;
    margin: .5em 0 0 .5em;
}

.cabecalho h1{
    font-family: var(--fonte-titulo);
}

.violao-mini{
    width: 50px;
}

.corpo{
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.corpo__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.corpo__top-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 2em;
    width: 35%;
    height: 50%;
    background-color: var(--cor-secundaria);
}

.corpo__top-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.corpo__top-img a{
    margin-top: 1em;
}

.botao__app{
    text-decoration: none;
    color: var(--cor-fonte);
    padding: .5em;
    background-color: var(--cor-secundaria);
    border-radius: 2em;
}